body {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #04625f;
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.card {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: white;
}


#Jumlah-Tempat {
  text-align: center;
  background-color: white;
  margin: 10px;
}


#bengkel {
    margin: 10px;
    text-align: center;
    border: 2px solid rgba(61, 239, 7, 0.759);
    background-color: white;
}

#VC {
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(61, 239, 7, 0.759);
    background-color: white;
}
#kelas {
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(61, 239, 7, 0.759);
    background-color: white;
}
#Kantin {
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(61, 239, 7, 0.759);
    background-color: white;
}
#parkir {
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(61, 239, 7, 0.759);
    background-color: white;
}
#masjid {
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(61, 239, 7, 0.759);
    background-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}