body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}

/* NAV */
nav {
    background-color: #388e3c;
    padding: 10px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* CONTAINER */
.container {
    padding: 20px;
    text-align: center;
}

button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* PRODUK */
.produk {
    text-align: center;
    padding: 20px;
}

.card {
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

/* FOOTER */
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card img{
    width: 200px;
    height: 200px;
}